BasedOnStyle: Mozilla
Language: Cpp
ColumnLimit: 80
UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: Empty
NamespaceIndentation: None
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: true
  AfterClass: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeLambdaBody: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
SpaceAfterTemplateKeyword: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
Cpp11BracedListStyle: true
SpacesInSquareBrackets: false
FixNamespaceComments: false
LambdaBodyIndentation: Signature
IndentRequires: true
