---
Language: Cpp
AlignEscapedNewlines: Right
BasedOnStyle: Microsoft
BraceWrapping:
  AfterUnion: true
ColumnLimit: 80
PointerAlignment: Left
TabWidth: 4
UseTab: Always
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[[:alnum:]/.]+>'
    Priority:        1
  - Regex:           '.*'
    Priority:        2
...
